<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Shopping Cart</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding" *ngIf="cartItems.length > 0">
      <ion-list>
        <ion-item *ngFor="let item of cartItems" appHighlight>
          <ion-thumbnail slot="start">
            <img [src]="item.image" [alt]="item.title">
          </ion-thumbnail>
          <ion-label>
            <h2>{{item.title}}</h2>
            <p>{{item.price | priceFormat}}</p>
          </ion-label>
          <ion-button slot="end" color="danger" (click)="removeItem(item.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
  
      <div class="total-container">
        <h2>Total: {{getTotal() | priceFormat}}</h2>
        <ion-button expand="block">
          Checkout
        </ion-button>
      </div>
    </div>
  
    <div class="empty-cart" *ngIf="cartItems.length === 0">
      <ion-icon name="cart-outline" size="large"></ion-icon>
      <h2>Your cart is empty</h2>
      <ion-button routerLink="/home">Continue Shopping</ion-button>
    </div>
  </ion-content>